@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lexend"; /* Đặt font mặc định cho body */
}

/* Ẩn biểu tượng trên Webkit (Chrome, Safari) */
input[type="password"]::-webkit-textfield-decoration-container {
  display: none;
}

/* Ẩn biểu tượng trên Edge */
input[type="password"]::-ms-reveal {
  display: none;
}

/* Ẩn biểu tượng trên Firefox */
input[type="password"]::-moz-textfield-decoration-container {
  display: none;
}
